/TestResults/*
/TestData/InputData.xlsx
init.robot
TestCases/Excel.robot
TestCases/Excel.xlsx
TestCases/Login-test.robot
TestCases/Login.robot
TestCases/test.robot
TestCases/keywordAndVariables/keywordAndVariables.robot
TestCases/keywordAndVariables/resource_init.robot
TestCases/result/log.html
TestCases/result/output.xml
TestCases/result/playwright-log.txt
TestCases/result/report.html
TestCases/result/browser/screenshot/robotframework-browser-screenshot-1.png
TestCases/result/browser/screenshot/robotframework-browser-screenshot-2.png
TestData/login.yaml
*.gitkeep
*.html
*.xml
*.txt
*.png
